nav {
    height: 140px;
    background-color: rgb(192, 192, 192);
    width: 90%;
    display:inline-block;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    display: inline-block;
    padding: 16px;
  }

li a {
    display: flex;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
  }
  
li a:hover {
  background-color: #737373;
}