.menuSection {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    margin-top: 50px;
    background-color: grey;
    padding: 1px;
    margin-top: 10px;
  }
  
.menuSection img {
    height: 200px;
    float: left;
}

.productName {
    text-align: center;
    background-color: aliceblue;
    padding: 2px;
    position: absolute;
    display: block;
}

.productName a {
    text-decoration: none;
    font-size: 18px;
    padding: 3px;
}

.productName a:hover {
    background-color: aqua;
}

.boxMargin {
    margin: 20px;
    display: inline-flex;
    justify-content: space-between;
}
