/* general */

h1 {
  text-align: center;
  color: white;
  font-size: 44px;
}

/* end of general */

/* header */
.header {
  height: 100px;
  background-color: red;
  width: 90%;
  display:inline-block;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}
/* end of header */

/* pages */
.pagesSection {
  width: 90%;
  display:inline-block;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-top: 20px;
}
.menuSection {
  width: 85%;
  display:inline-block;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-top: 50px;
  background-color: grey;
  height: 100px;
}
